@model ShenkinStore.Models.Transaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Delivery)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Delivery)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.productslist)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Product Name</th>
                    <th>Price per Unit</th>
                    <th>Product Brand</th>
                    <th>Photo</th>
                </tr>
                @foreach (var item in Model.productslist)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.productBrand)
                        </td>
                        <td>
                            <img src="@Url.Content(item.ImageUrl)" alt="cant display" width="180px" height="180px" />
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TransactionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
