@model IEnumerable<ShenkinStore.Models.Transaction>

@{ ViewBag.Title = "Index"; }





<!----------------------------------Search Product By Name---------------------------->
<form asp-action="Search" id="myForm3">
    <div class="form-group">
        <input name="transactionDate" class="form-control" autocomplete="off" id="filterDate" type="text" placeholder="Search By Transaction Date">
    </div>
</form>

<div>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("View Graphs", "DisplayGraphs")
</div>

<div class="text-left col-12 form-zone">
    <div class="row" style="margin:10px; padding-right:10px">
        <form asp-controller="Transactions" asp-action="Index">
        </form>
    </div>
</div>

<table class="table text-right">
    <thead>
        <tr>
            <th>
                User Name
            </th>
            <th>
                Transaction Number
            </th>
            <th>
                Date
            </th>
            <th>
                Price
            </th>
            <th>
                Paid
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paid)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TransactionId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TransactionId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TransactionId })
                </td>
            </tr>
        }
    </tbody>

</table>



@section Scripts {
    <script src="/js/productsScripts.js"></script>
}