@model dynamic
@{
    ViewData["Title"] = "Join";
    var joinData = ViewBag.JoinData;
}

<h1>Join</h1>

<table class="table">
    @foreach (var item in joinData)
    {
        <thead>


            <tr>

                <th>
                    User Name
                </th>
                <th>
                    Transaction Id
                </th>
                <th>
                    Transaction Date
                </th>
                <th>
                    Transaction total price
                </th>


            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @*@item.Tran*@
                    <a class="fonts links" href='@Url.Action( "Details", "Transactions", new { id = item.Tran }, null)'>@item.Tran</a>
                </td>
                <td>
                    @item.Date
                </td>
                <td>
                    @item.Price
                </td>
            </tr>
        </tbody>
    }


</table>



    <p>

        @foreach (var item in joinData)
        {
            <h1>
                @item.Name @item.Tran
            </h1>
            @*var bla = item;
                 string blas = bla.Name;
                 @bla
                @item.Name*@


        }

    </p>

