@using Microsoft.AspNetCore.Http


@model IEnumerable<ShenkinStore.Models.Product>


@foreach (var item in Model)
{

<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ProductName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Colorr)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.productType)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.productBrand)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.gender)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Quantity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Metrial)
    </td>
    <td>
        <img src="@Url.Content(item.ImageUrl)" alt="cant display" width="180px" height="180px" />
    </td>
    <td>
        <a asp-action="Details" asp-route-id="@item.ProductId">Details</a>

        @if (Context.Session.GetInt32("UserType") == 1)
        {
            <a asp-action="Edit" asp-route-id="@item.ProductId">Edit &nsub; </a>
            <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>

        }
    </td>
</tr>
}
        }


