@model ShenkinStore.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Colorr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Colorr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.productType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.productType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.productBrand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.productBrand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Metrial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Metrial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content(@Model.ImageUrl)" alt="@Model.ImageUrl" width="180px" height="180px" />
        </dd>
        <dd>
            <aside>
                Top product
            </aside>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
