@model IEnumerable<ShenkinStore.Models.Product>
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Index";
}


<link type="text/css" href="~/css/ProductsGrid.css" rel="stylesheet" />


@if (Context.Session.GetInt32("UserType") == 1)
{
    <h1>Admin view</h1>
    <table>
        <tr>
            <th>
                <a class="btn btn-info" asp-action="GroupBy">Products By Type</a>
            </th>

            <th>
                <a class="btn btn-info" asp-action="Create">Create New Product</a>
            </th>


        </tr>
    </table>

    <div class="container">


        <!----------------------------------Search Product By Name---------------------------->
        <form style="width:25%;" asp-action="Search" id="myForm">
            <div class="form-group">
                <input name="productName" class="form-control" autocomplete="off" id="filterName" type="text" placeholder="Search By Product Name">
            </div>
        </form>
        <!-------------------------------------------------------------------------------------->
    </div>

}



<!------------------------Search Product By Gender Brand and Color---------------------------->

<div class="form-container" style="height:90px;">
    <form id="myForm2" asp-action="aSearch" style="
        font-size: 27px;
        text-align: center;
        height: 50px;
        background: #f8f9faba;">
        Choose By:
        <select id="gender" name="gender" type="select">
            <option value="">Gender</option>
            <option value="female">Female</option>
            <option value="male">Male</option>
            <option value="unisex">Unisex</option>
        </select>
        <select id="product_type" name="product_type" type="select">
            <option value="">Product Type</option>
            <option value="Bag">Bags</option>
            <option value="SideBag">Side Bags</option>
            <option value="Wallet">Wallets</option>
        </select>
        <select id="color" name="color" type="select">
            <option value="">Color</option>
            <option value="Black">Black</option>
            <option value="White">White</option>
            <option value="Brown">Brown</option>
            <option value="Red">Red</option>
            <option value="Green">Green</option>
        </select>

    </form>
</div>

<!-----------------------------End of Filter Bar------------------------------>

<div class="tbody">
    <div class="grid-container">
        @foreach (var item in Model)
        {


            <div class="grid-item">
                <div class="product-card" id="@item.ProductId">
                    <div class="product-tumb">
                        <img src="@Url.Content(item.ImageUrl)" alt="Cant Display">
                    </div>
                    <div class="product-details">
                        <span class="product-catagory" id="@item.ProductName"> @item.ProductName</span>
                        <h5 id="@item.gender">@item.gender </h5>
                        <h5 id="@item.Metrial">@item.Metrial</h5>
                        <h5 id="@item.productType">@item.productType</h5>
                        <h5 id="@item.Colorr">Color: @item.Colorr</h5>
                        @if (Context.Session.GetInt32("UserType") == 1)
                        {
                            <h5 id="@item.Quantity"> Already Sold: @item.Quantity</h5>
                        }
                        <p id="@item.Description">@item.Description</p>
                        <div class="product-bottom-details">

                            <div class="product-links" style="width:100%; text-align:center">
                                @Html.ActionLink("Add to Cart", "AddToCart", "ShoppingCart", new { id = item.ProductId, amount = 1 }, new { @class = "btn btn-info" })
                                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.ProductId">Details</a>
                                @if (Context.Session.GetInt32("UserType") == 1)
                                {
                                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.ProductId">Edit</a>
                                    <a class="btn btn-info" asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                                }
                            </div>
                            <div style="text-align:left;" id="@item.Price" class="product-price">@item.Price ₪</div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</div>
@section Scripts {

    <script src="~/js/productsScripts.js"></script>

}