@model IEnumerable<ShenkinStore.Models.Product>
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Index";
}

@if (Context.Session.GetInt32("UserType") == 1)
{
    <a asp-action="Create">Create New Product</a>
}

<!----------------------------------Search Product By Name---------------------------->
<form asp-action="Search" id="myForm">
    <div class="form-group">
        <input name="productName" class="form-control" autocomplete="off" id="filterName" type="text" placeholder="Search By Product Name">
    </div>
</form>
<!-------------------------------------------------------------------------------------->
<!------------Search Product By Gender Brand and Color---------->

<div class="form-container">
    <form id="myForm2" asp-action="aSearch">
        Filter your favs!
        <select id="gender" name="gender" type="select">
            <option value="">Gender</option>
            <option value="female">Feamle</option>
            <option value="male">Male</option>
            <option value="unisex">Unisex</option>
        </select>
        <select id="product_type" name="product_type" type="select">
            <option value="">Product Type</option>
            <option value="Bag">Bags</option>
            <option value="SideBag">Side Bags</option>
            <option value="Wallet">Wallets</option>
        </select>
        <select id="color" name="color" type="select">
            <option value="">Color</option>
            <option value="Black">Black</option>
            <option value="White">White</option>
            <option value="Brown">Brown</option>
            <option value="Red">Red</option>
            <option value="Green">Green</option>
        </select>
        <input type="submit" value="Filter">
    </form>
</div>

<!-----------------------------End of Filter Bar------------------------------>

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colorr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Metrial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Colorr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productBrand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Metrial)
                </td>
                <td>
                    <img src="@Url.Content(item.ImageUrl)" alt="cant display" width="180px" height="180px" />
                </td>
                <td class="text-center">
                    @Html.ActionLink("Add to Cart", "AddToCart", "ShoppingCart", new { id = item.ProductId, amount = 1 }, new { @class = "btn btn-info" })
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ProductId">Details</a>

                    @if (Context.Session.GetInt32("UserType") == 1)
                    {
                        <a asp-action="Edit" asp-route-id="@item.ProductId">Edit &nsub; </a>
                        <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>

                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<!--Searching Scripts-->
@section Scripts {

    <script src="~/js/productsScripts.js"></script>

}
