@model IEnumerable<ShenkinStore.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<p>
    <a asp-action="GroupBy">Products By Type</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price) ₪
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colorr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Metrial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
        <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @if (item.inCart == false)
            {
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colorr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Metrial)
            </td>
            <td>
                <img src="@Url.Content(item.ImageUrl)" alt="cant display" width="180px" height="180px" />
            </td>
            <td class="text-center">
                @Html.ActionLink("Add to Cart", "AddToCart", "ShoppingCart", new { id = item.ProductId, amount = 1 }, new { @class = "btn btn-info" })
            </td>
            <td class="text-center">
                <div class="form-group">
                    <label asp-for="@item.Quantity" class="control-label"></label>
                    <input asp-for="@item.Quantity" class="form-control" />
                    <span asp-validation-for="@item.Quantity" class="text-danger"></span>
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
               
            </td>


            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>

            </td>
            }
        </tr>
}
    </tbody>
</table>
